<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Report Generated</h2>
        <a href="{{ url_for('download_report', file_path=file_path) }}">
            <button>Download Report</button>
        </a>
    </div>
</body>
</html>
